.contact-container {
    padding-top: 15vh;
    padding-bottom: 10vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

.contact-container .contact-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 15px;
}

.contact-container .contact-btns a {
    color: white;
}

.contact-container .contact-btns a:hover {
    color: rgb(0, 187, 135);
}

.contact-container .contact-btns .contact-btn {
    cursor: pointer;
}