@media (min-width: 992px) {
    .left-image {
        margin-right: -8px;
    }

    .right-image {
        margin-left: -8px;
    }
}

@media (max-width: 992px) {
    .left-image, .right-image {
        margin-bottom: 30px;
    }
}